
.idea
.idea/*
.idea/vcs.xml
docker/.DS_Store

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
.DS_Store
.idea/dataSources.local.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
